* {
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
	margin: 0;
}

img {
	max-width: 100%;
}


.container {
	display: flex;
	column-gap: 10px;
	justify-content: center;
	padding: 20px;
}


/* Code similar to button */
select {
	
}